[submodule "vendor/awesome-copilot"]
	path = vendor/awesome-copilot
	url = https://github.com/github/awesome-copilot.git
	shallow = true
[submodule "vendor/ui-ux-pro-max-skill"]
	path = vendor/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
	shallow = true
